
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary
{
  display:block
}


/* ## Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before,
.main-slider::before,
.empyo-intro::before,
.page-section::before,
.people::before  {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after,
.main-slider::after,
.empyo-intro::after,
.page-section::after,
.people::after {
	clear: both;
	content: " ";
	display: table;
}



html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 22px;
	font-size: 2.2rem;
}

body {
	background-color: #fff;
	/* color: #333; */
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.4;
	margin: 0;
}





/* for the blocks */
ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}



/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 10px;
}


img {
	height: auto;
}

figure {
	margin: 0;
}




/* toggle menu bar */
button,
.button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 600;
	padding: 16px 24px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1280px;
}

.site-inner {
	clear: both;
	padding-top: 40px;
	word-wrap: break-word;
}


.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}



/* /* ## Column Classes */

.five-sixths,
.four-sixths,
.four-fifths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-fifths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}


.first {
	clear: both;
	margin-left: 0;
}



/* for the main heading */

.page .entry-title {
	color: #395671;
	font-size: 60px;
	font-size: 6rem;
	font-weight: 300;
  text-align: center
}

.page .entry-title span {
	color: #000;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #A3CACD;
}
/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #395671;
}

.site-header > .wrap {
	padding: 20px 0;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 0;
	width: 400px;
}

/* .site-title { */
	/* font-size: 30px; */
	/* font-size: 3rem; */
	/* font-weight: 700; */
	/* line-height: 1.2; */
/* } */

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: left;
}

.genesis-nav-menu a {
	color: #333;
	display: block;
	padding: 32px 20px;
	text-decoration: none;
}
/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;
}

/* ## Main Navigation
--------------------------------------------- */

.nav-primary {
	background-color: transparent;
	float: right;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: right;
	width: 62%;
}

.nav-primary .genesis-nav-menu a {
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: #8DD7F7;
/*	text-decoration: underline; */
}

/* center dropdowns */

.nav-primary .genesis-nav-menu .menu-item a,
.nav-primary .genesis-nav-menu .menu-item:hover,
.nav-primary .genesis-nav-menu .menu-item:focus {
	position: relative;
}

.nav-primary .sub-menu {
	border: 0 none;
}

/*
/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
/*	margin-bottom: 40px;
	padding: 70px 80px; */
	padding: 40px;
  padding-top: 0;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}




/* ## Home
--------------------------------------------- */

.home .site-inner {
	max-width: 100%;
	width: 100%;
}

/*



/* ## Empoyers / Youth
--------------------------------------------- */

.page-section {
	overflow: auto;
	padding: 40px 0;
}


/* for the welcome heading */
h2.center-icon {
	color: #A3CACD;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 400;
	text-align: center;
}





/* ## Streams
--------------------------------------------- */

h4.block-heading {
	font-size: 22px;
	font-size: 2.2rem;
}

.will-block,
.phase {
	font-size: 18px;
	font-size: 1.8rem;
}

.will-block {
	background-color: #EBF1F5;
	margin-bottom: 30px;
	padding: 20px;
}


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1340px) {

	.site-inner,
	.wrap {
		max-width: 1140px;
	}

	.content {
		width: 800px;
	}

	.sidebar-primary {
		width: 300px;
	}


}


@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.title-area {
		width: 320px;
	}



}

@media only screen and (max-width: 1023px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 100%;
	}

	.site-header > .wrap {
		padding: 10px 0;
	}

	.genesis-nav-menu li {
		float: none;
	}

	.genesis-nav-menu,
	.site-description {
		text-align: center;
	}

	/* .slide-caption { */
		/* bottom: 0; */
		/* font-size: 22px; */
		/* font-size: 2.2rem; */
		/* left: 0; */
		/* min-height: 1px; */
		/* padding: 20px; */
		/* right: 0; */
		/* text-align: center; */
		/* width: 100%; */
	/* } */

	/* .ui-tabs-panel h3, */
	/* .partnets h3{ */
		/* font-size: 28px; */
		/* font-size: 2.8rem; */
	/* } */

	/* .ui-tabs-panel, */
	/* .ui-tabs-panel p, */
	/* .ui-tabs-panel a.button { */
		/* font-size: 20px; */
		/* font-size: 2rem; */
	/* } */

	.page .entry-title {
		font-size: 40px;
		font-size: 4rem;
	}

	.entry-content h2 {
		font-size: 34px;
		font-size: 3.4rem;
	}

	/* h2.center-icon img { */
		/* max-width: 30px; */
	/* } */

	/* .entry-content h3 { */
		/* font-size: 30px; */
		/* font-size: 3rem; */
	/* } */

	/* .entry-content h4 { */
		/* font-size: 26px; */
		/* font-size: 2.6rem; */
	/* } */

	/* subscribe form */

	/* .subscribe-bar .two-fifths { */
		/* margin: 0; */
		/* width: 70%; */
	/* } */

	/* .subscribe-bar .one-fifth { */
		/* margin: 0; */
		/* width: 30%; */
	/* } */

	/* for tabs and subscribe bar */

	.two-fifths.first,
	.three-fifths {
		float: none;
		width: 100%;
		margin: 0 0 20px 0;
	}

	/* ### Genesis Responsive Menu */

	.nav-primary {
		width: 100%;
	}

	.nav-primary .sub-menu::after {
		content: none;
	}

	/* .genesis-responsive-menu .wrap { */
		/* padding: 0; */
	/* } */

	/* .genesis-responsive-menu { */
		/* display: none; */
		/* position: relative; */
	/* } */

	/* .genesis-skip-link .skip-link-hidden { */
		/* display: none; */
		/* visibility: hidden; */
	/* } */

	.menu-toggle,
	.sub-menu-toggle {
		background-color: transparent;
		border-width: 0;
		color: #fff;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle:focus,
	.menu-toggle:hover,
	.sub-menu-toggle:focus,
	.sub-menu-toggle:hover {
		background-color: transparent;
		border-width: 0;
		color: #C8F0FF;
	}

	.menu-toggle {
		float: right;
		line-height: 22px;
		padding: 35px 0 25px 35px;
		position: relative;
		text-align: right;
		width: 30%;
		z-index: 1000;
	}

	.menu-toggle,
	.menu-toggle:focus,
	.menu-toggle:hover {
	}

	.menu-toggle::before {
		font-size: 1.5em;
		margin-right: 10px;
		text-rendering: auto;
	}

	.sub-menu-toggle {
		float: right;
		padding: 13px 20px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu .sub-menu-toggle {
		padding: 12px 10px;
	}

	.sub-menu-toggle::before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: rotate( 0 );
		-ms-transform:     rotate( 0 );
		transform:         rotate( 0 );
		-webkit-transition: transform .25s ease-in-out;
		-ms-transition:     transform .25s ease-in-out;
		transition:         transform .25s ease-in-out;
	}

	.sub-menu-toggle.activated::before {
		-webkit-transform: rotate( 180deg );
		-ms-transform:     rotate( 180deg );
		transform:         rotate( 180deg );
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item:focus,
	.genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border: none;
		padding: 15px 20px;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
		transform: none;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a::after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
		left: 0;
		opacity: 1;
		transform: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 0;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}


}

@media only screen and (max-width: 860px) {

	body,
	body > div {
		font-size: 18px;
		font-size: 1.8rem;
	}

	.page .entry-title {
		font-size: 36px;
		font-size: 3.6rem;
	}

	.entry-content h2 {
		font-size: 28px;
		font-size: 2.8rem;
	}

	h2.center-icon img {
		max-width: 25px;
	}

	.entry-content h3 {
		font-size: 24px;
		font-size: 2.4rem;
	}

	.entry-content h4 {
		font-size: 22px;
		font-size: 2.2rem;
	}

	.site-inner {
/*		padding: 5% 5% 0; */
	}

	.wrap {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

	.site-header > .wrap {
		padding: 10px 5%;
	}



	.sidebar {
		margin-bottom: 5%;
	}


	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0 0 20px 0;
		width: 100%;
	}

	.page-section {
		padding: 20px 0;
	}

}


@media only screen and (max-width: 600px) {


	.site-header {
		text-align: center;
	}

	.title-area,
	.menu-toggle {
		float: none;
		text-align: center;
		width: 100%;
	}

	.menu-toggle {
		font-size: 18px;
		font-size: 1.8rem;
		padding: 10px 20px;
	}


	.empty {
		display: none;
	}

}


/* for menu icon */
@media only screen and (max-width: 600px)
{
  .menu-toggle {
      font-size: 18px;
      font-size: 1.8rem;
      padding: 10px 20px;
  }
}

/* for the sizes of jumbotron */
@media only screen and (min-width: 861px) and (max-width: 1023px)
{

  .will-block {
    height: 310px!important;
    }
}
@media only screen and (min-width: 1024px)
{

  .will-block {
    height: 290px!important;
    }
}
/* hide company name */
@media only screen and (max-width: 767px)
{
.entry-title{
  display: none;
}
}
